@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap);
@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Concert+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar{
	width: 0px;
}
body {
	overflow-x: hidden;
}
#me{
	width: 10rem;
	height: auto;
}
#dev{
	text-align: center;
}

#dev1{
	color: #000;
	font-family: 'Balsamiq Sans', cursive;
	text-align: center;
}

#icon {
	width: 6.3125rem;
	height: 6.3125rem
}
#icon:hover{
	animation: letszoom 2s linear alternate-reverse infinite;
}

#skill-text {
	color: #000;
	font-size: 0.75rem;
	text-align: center
}

#head3 {
font-family: 'Balsamiq Sans', cursive;
font-size: 1.3rem;
}

#skill-text {
	font-family: 'Fredoka One', cursive
}

h3 {
	font-family: 'Fredoka One', cursive
}

#bio {
	box-shadow: 20px 20px 50x rgba(0, 0, 0, 0.5);
	border-radius: 1rem;
	background: rgba(255, 255, 255, 0.3);
	text-align: justify;
	margin: 0.625rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#likes {
	font-family: 'Balsamiq Sans', cursive;
	font-size: larger;
	box-shadow: 20px 20px 50x rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.3);
	margin: 0.625rem;
}
#likes ul{
	margin-bottom: 0;
}
#detail{
	display: flex;
	justify-content: center;
	margin: 0.625rem;
	border-radius: 15px;
}
/* #colx {
	box-shadow: 20px 20px 50x rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.3);
	margin: 1rem;
} */

#coly {
	box-shadow: 20px 20px 50x rgba(0, 0, 0, 0.5);
	background: rgba(255, 255, 255, 0.3);
}

.col-9 {
	font-size: larger;
	font-family: 'Balsamiq Sans', cursive
}

#para {
	font-size: large;
	margin-bottom: 0;
}

.lead {
	text-align: justify;
}

.navbar-toggler {
	float: right
}

.icon-bar {
	position: fixed;
	width: 2rem;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	z-index: 1;
}

.icon-bar a {
	text-decoration: none;
	width: 9.3rem;
	color: #fff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0.45rem;
	font-size: 1.25rem;
	transform: translateX(-7.5rem);
	-webkit-transform: translateX(-6.8rem);
	-ms-transform: translateX(-7.5rem);
	transition: all .5s linear;
	-webkit-transition: all .5s linear;
	border-top-right-radius:1.5rem;
	border-bottom-right-radius:1.5rem;
}

.facebook {
	background: #3b5998;
}

.twitter {
	background: #00aced;
}

.instagram {
	background: #E1306C;
}

.git {
	background:orangered;
}

.linkedin {
	background: #0077b5;
}

.icon-bar a i {
	padding-left: 1.25rem;
	font-size: 1.875rem!important;
	animation: letszoom 2s linear alternate-reverse infinite;
}

@keyframes letszoom {
	from {
		transform: scale(.8)
	}
	to {
		transform: scale(1)
	}
}

.icon-bar a:hover {
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	text-decoration: none;
	color: #000;
}

.about_img {
	min-width: 100%;
	max-height: 17.5rem;
}

.para_pro {
	font-family: 'IBM Plex Sans', sans-;
}

.navbar {
	width: auto;
	/* border-bottom-left-radius: 0.625rem;
	border-bottom-right-radius: 0.625rem; */
	background-color: rgba(255, 255, 255);
}

#brand {
	font-family: 'Concert One', cursive;
	font-size: larger;
	padding-left: 5px;
	padding-right: 5px;
	color: #000;
	letter-spacing: 1px;
}

#navlink {
	color: #000;
	font-family: 'Balsamiq Sans', cursive;
	font-size: large;
	letter-spacing: 0.5px;
}

#education {
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
	margin: 0.625rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
#jumbo{
	box-shadow: 20px 20px 50x rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.1);
}
.hobbies{
	padding-left: 3rem;
}
.progress-bar{
	background-color: #4dfd4d !important;
}
/* @media(prefers-color-scheme:dark) {
	body {
		background: linear-gradient(90deg, #000, #434343, #0f2027, #203a43, #2c5364);
		background-size: 400% 400%;
		animation: gradient 20s ease infinite
	}
	#dev1,
	#name,
	#team {
		color: #fff
	}
	#hr {
		border: 1px solid red
	}
	#skill-text {
		color: #fff
	}
	#jumbo {
		background-color: rgb(2, 5, 5);
		color: #fff
	}
	#bio{
		background-color: #000000;
		color: #fff
	}
	.hobbies {
		color: #fff
	}
	#likes {
		background-color: #000000;
		color: #fff
	}
	#colx {
		background-color: #000000;
		color: #fff
	}
	#coly {
		background-color: #000000;
		color: #fff
	}
	#education {
		background-color: #000000;
		color: #fff
	}
	#pro {
		color: #fff
	}
} */

#navlink:hover {
	background-color: #000;
	color: white;
}