body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #e1eec3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    -45deg,
    #2ecc71,
    #3498db,
    #9b59b6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    -45deg,
    #2ecc71,
    #3498db,
    #9b59b6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: inset 0 50px 150px rgba(255, 255, 255, 0.8);
  animation: animate 1s ease-in-out forwards;
}

div img {
  width: 100%;
  height: 100%;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
div:nth-child(1) {
  width: min(97vw,97vh);
  height: min(97vw,97vh);
  animation-delay: 0s;
  -moz-animation-delay: 0s;
}
div:nth-child(2) {
  width: min(83vw,83vh);
  height: min(83vw,83vh);
  animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
}
div:nth-child(3) {
  width: min(69vw,69vh);
  height: min(69vw,69vh);
  animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}
div:nth-child(4) {
  width: min(55vw,55vh);
  height: min(55vw,55vh);
  animation-delay: 1s;
  -moz-animation-delay: 1s;
}
div:nth-child(5) {
  width: min(41vw,41vh);
  height: min(41vw,41vh);
  padding: min(8vw,8vh);
  animation-delay: 1.25s;
  -moz-animation-delay: 1.25s;
  background-color: white;
}
img {
  z-index: -1;
  width: 41vw;
  height: auto;
}
#coding{
  padding: 1rem 0;
  width: 100%; 
  font-size: 1.5rem;
}
